.adm {
    background-color: var(--cor3);
    margin:0 auto;
    max-width: 1200px;
    border-radius: 0 0 0 80px;
}

.title-adm {
    color: var(--cor4);
    text-align: center;
    padding: 30px;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.label-adm {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.lbl1 {
    margin-top: 0;
}

.lbl {
    margin-top: 18px;
    padding: 5px;
}

.input-adm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.btn-adm {
    background-color: var(--cor5);
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    margin-top: 10px;
    color: var(--cor4);
    width: 250px;
    cursor: pointer;
}

.btn-cadastroOng {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    .adm {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .adm {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .adm {
        width: 100%;
    }
}
