div .navbar {
    width: 1200px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    height: 100px;
}

ul {
    list-style: none;
    margin-top: 15px;
    display: flex;
}

li {
    margin: 5px;
}

.navbar ul li:hover {
    text-decoration: underline;
    transition: all 1s;
}

.language-icons li img {
    width: 30px;
}
